.detail-quiz-container{
    display: flex;
    gap: 20px;
    padding: 50px;
    .left-content{
        border: 2px solid #ccc;
        width: 70%;
        border-radius: 5px;
        padding: 20px;
        .title{
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .q-body{
            img{
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

        }

        .q-content{
            text-align: center;
            .question{
                font-weight: 500;
                margin-bottom: 15px;
                font-size: 20px;
            }
            .answers{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .a-child{
                    text-align: left;
                    padding-left: 50px;
                }
                
            }

            .q-image{
                width: 100%;
                height: 100px;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }



        .q-footer{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }

    .right-content{
        border: 2px solid #ccc;
        width:  30%;
        border-radius: 6px;
        padding:20px;
    }
}