.question-container{
    padding: 15px;

    .title{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
    }

    .question-content{
        display: flex;
        align-items: center;
        gap: 25px;
        .description{
            width: 50%;
        }

        .group-upload{
            .label-up{
                    height: 30px;
                    border: 1px solid red;
                    border-radius: 5px;
                    padding: 0px 10px;
                    margin-right: 10px;
                    cursor: pointer;

            }
        }

        .btn-add {
            .icon-add{
                font-size: 30px;
                color: green;
                cursor: pointer;
            }
            .icon-remove{
                font-size: 30px;
                margin-left: 20px;
                color: red;
                cursor: pointer;
            }
        }
    }

    .answer-content{
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 20px;
        margin-top: 10px;
        .isCorrect{
            font-size: 20px;
        }

        .answer-name{
            width: 60%;
        }

        .btn-group{
             .icon-add{
                font-size: 30px;
                color: green;
                cursor: pointer;
            }
            .icon-remove{
                font-size: 30px;
                margin-left: 20px;
                color: red;
                cursor: pointer;
            }
        }
    }
}