.quiz-container{
    padding: 15px;

    .title{
        font-size: 20px;
        font-weight: 600;
    }
    legend {
        font-size: 18px;
    }
    .list-detail{
        padding: 15px;
        margin-bottom: 10px;
    }
}