.question-container{
    padding: 15px;

    .title{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 20px;
    }

    
    #react-select-2-listbox{
        z-index: 10;
    }

    .question-content{
        display: flex;
        align-items: center;
        gap: 25px;
        .description{
            width: 50%;
        }

        .group-upload{
            // padding-top: 15px;
            padding-bottom: 10px;
            .label-up{
                    margin-right: 10px;
                    cursor: pointer;
                    color: #9068ff;
                    font-size: 25px;

                    &:hover{
                        color: #4400ff;
                    }

            }
        }

        .btn-add {
            .icon-add{
                font-size: 25px;
                color: #2596ff;
                cursor: pointer;

                &:hover{
                color: #0908ff;

                }
            }
            .icon-remove{
                font-size: 25px;
                margin-left: 20px;
                color: #e8771c;
                cursor: pointer;

                &:hover{
                    color: #ff7608
                }
            }
        }
    }

    .answer-content{
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 20px;
        margin-top: 10px;
        .isCorrect{
            font-size: 20px;
        }

        .answer-name{
            width: 60%;
        }

        .btn-group{
             .icon-add{
                font-size: 30px;
                color: green;
                cursor: pointer;
            }
            .icon-remove{
                font-size: 30px;
                margin-left: 20px;
                color: red;
                cursor: pointer;
            }
        }
    }
}