body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1300px;
}
}


.app-container {
  .header-container {
      .navbar {
        z-index: 10;
        background-color: transparent!important;
        padding-top: 20px;
      .nav-link { 
          &.active{
          color: #00bbff;
        }
      }
      .btn-login{
            border: 2px solid rgb(99, 99, 99);
            border-radius: 4px;
            margin-right: 12px;
            padding: 0 15px;
            height: 40px;
      }
      .btn-signup{
            background-color: black;
            color: white;
            border-radius: 4px;
            padding: 0 15px;
            height: 40px;
            &:hover{
                    background-color: rgb(77, 77, 77);

            }
      }

      
    }
  }
  
  .homepage-container{
        .homepage-content{
          position: relative;
          padding: 0 100px;
          width: 50%;
          display: flex;
          flex-direction: column ;
          gap: 30px;
          margin-top: 100px;
          .title-1{
            font-size: 38px;
            font-weight: 600;
        }

        .title-2{
            font-size: 28px;
        }

        .title-3{
            button {
              font-size: 18px;
              background-color: black;
              color: white;
              border-radius: 4px;
              border: none;
              padding: 0 15px;
              height: 50px;
            &:hover{
                    background-color: rgb(77, 77, 77);

            }
            }
        }
        }
        

  }
}

video {
  position: fixed;
  bottom: -25%;
  width: 100vw;
  height: auto;
}
