.login-container{
    .header{
        height: 45px;
        text-align: right;

        border: 1px solid red;
    }
    .title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }

    .welcome{
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
    }

    .content-form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 10px;
            margin-top: 3px;
        }

        button{
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;
        }

    }
    

}