.login-container{
    .header{
        height: 45px;
        text-align: right;
        padding: 0px 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button{
            width: 80px;
            height: 30px;
            border: 1px solid black;
            border-radius: 5px;
            color: black;
            background-color: rgb(243, 243, 243);
            cursor: pointer;
            margin-left: 15px;

            &:hover{
                background-color: white;
            }
        }
    }
    .title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 20px 0;
    }

    .welcome{
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
    }

    .content-form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 10px;
            margin-top: 3px;
        }

        button{
            width: 100%;
            height: 40px;
            border: none;
            margin: 20px 0;
            border-radius: 5px;
            color: white;
            background-color: black;

            &:disabled{
            background-color: #ddd;
            cursor: not-allowed;
            }
        }

        .back{
            cursor: pointer;
        }

        .icon-container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon{
                position: absolute;
                right: 10px;
                cursor: pointer;
            }
        }
        @keyframes spin {
            from {
                transform: scale(1) rotate(0deg);
            }
            to {
                transform: scale(1) rotate(360deg);
            }

}
    .loader-icon {
        margin-right: 7px;
        top: 2px;
        animation: spin 1s infinite linear;
        }
  
    }
}

